<div class="container-data">
    <form method="GET" action="/" class="form-data">
        <div >
            <input name="data" type="date">
        </div>
        <div>
            <input type="submit" value="Enviar" id="inputagenda">
        </div>
    </form>
</div>