<div class="body">
    <div class="modal">
        <span onclick="fechar()" class="fechar">&times;</span>
        <div id="boxCadastro">
            <div class="mensagens-validacao">
                <ul class="mensagem"></ul>
            </div>
            <h1 class="titulo">Reservar Sala</h1>
            
            <!-- method="POST" action="/cadastro" -->
            <form class="form-evento" >
               
                <div class="boxNomeeSistema" id="boxNomeCompleto">
                    
                    <div class="inputradios">
                        <h3>Tipo de Evento</h3>
                        <div class="estiloradios">
                            <input type="radio" name="titulo" value="Aula" checked> 
                            <label>Aula</label>
                        </div>
                        <div class="estiloradios">
                            <input type="radio" name="titulo" value="Evento"> 
                            <label>Evento</label>
                        </div>
                    </div>
                    <div class="container-checkbox">
                        <div class="checkbox">
                            <input type="checkbox" id="verificaRecorrencia">
                            <label for="verificaRecorrencia">Recorrencia</label>
                        </div>
                        <div>
                            <input type="number" name="recorrencia" id="recorrencia" readonly>
                        </div>
                    </div>
                </div>
                <div class="container-dsc-evento">
                    <label for="dsc_evento">Descreva o evento</label>
                    <textarea name="dsc_evento" id="dsc_evento" placeholder="Informe sobre seu evento, max. caractres 50"></textarea>
                </div>
                <div class="resposavel">
                    <div class="estiloresponsavel" >
                        <label for="id_turma">Turma</label>
                        <select id="id_turma" name="id_turma" class="btn_select">
                            <option value='' disabled selected hidden>Selecione</option>
                            <% turmas.forEach(turma =>{%>
                                <option value=<%= turma.id%>><%= turma.nome %></option>
                            <%})%>
                        </select>
                    </div>
                    <div class="estiloresponsavel" >
                        <label for="id_disciplina">Disciplina</label>
                        <select id="id_disciplina" name="id_disciplina" class="btn_select" disabled>
                            <option value='' disabled selected hidden>Selecione</option>
                            
                        </select>
                    </div>
                </div>
                <div class="local">
                        <div class="estiloresponsavel">
                            <label for="id_usuario">Responsável</label>
                            <select id="id_usuario" name="id_usuario" class="btn_select" disabled>
                                <option value='' disabled selected hidden>Selecione</option>
                               
                            </select>
                        </div>
                            
                        <div class="estiloresponsavel" >
                                <label for="id_local">Local</label>
                                <select id="id_local" name="id_local" class="btn_select">
                                    <option value='' disabled selected hidden>Selecione</option>
                                    <%salas.forEach(sala => {%>
                                        <option value= <%= sala.id%> > <%= sala.nome%> </option>
                                    <%})%>
                                </select>
                        </div>
                </div>
                <div class="boxCredenciais" id="boxAno">
                    <div>
                        <label for="data">Data</label>
                        <input name="data" id="data "type="date" class="data">     
                    </div>
                    <div class="pilar">
                        <label for="horario_inicio">Horario Inicial</label>
                        <input class="data" type="time" name="horario_inicio"  min="09:00" max="18:00" value="09:00" required>
                    </div> 
                    <div class="pilar">
                        <label for="horario_fim">Horario Fim</label>
                        <input class="data" type="time" name="horario_fim"  min="09:00" max="18:00" value="18:00" required>
                    </div> 
                </div>       
                <div id="boxCapacidade">
                    
                </div>       
              
                <div class="BotaoConcluireCancelar" id="boxConcluir">
                    <div>
                        <input type="button" id="botaoCancelar" value="Cancelar">                      
                    </div>
                    <div>
                        <input type="submit" id="botaoConcluir" value="Concluir">                      
                    </div>
                    
                </div>
            </form>
        </div>
    </div>    
</div>