   
<div class="delete">
      
    <div class="container-delete">
        <div>    
            <img id="alert"src="/imagens/alert.png" alt="">
        </div>
        <p class="informacao"></p>
        <p id="mensagemdeconfirmacao">Se eleminar não voltará a ver esse conteudo!</p>
        <div id="bnt_excluir"> 
            <input class="cancelarDeletar" type="button" value="Cancelar">
            <input class="concluirDeletar" type="button" value="Sim, desejo exluir">
        </div>
        
    </div>
</div>