<div class="div-container">
    <div class="div-container-logo"> 
        <img class="logo" src="/imagens/logoMarca.jpg">
    </div>
    <div>
        <div class="cabecario">
            <p id="titulo" style="margin-bottom: 0px;"><%- title%></p>
            <a class="calendario-link" href="calendario">
                <i class="fa fa-calendar fa-lg" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>
<section>
    <div class="navegacao">
        <nav>  
            
            <ul class="lista">
                <a href="/">
                    <li><img class="calendario" src="/imagens/icone_calendario.svg" alt="Calendario"></li>
                </a>                     
                <a href="professores">
                    <li><img  src="/imagens/icone_professor.svg" alt="Professores"></li>
                </a>
                <a href="areas">
                    <li><img  src="/imagens/icone_sala.svg" alt="Salas"></li>
                </a>
                <a href="turmas">
                    <li><img  src="/imagens/icone_turma.svg" alt="Turmas"></li>
                </a>
                <a href="disciplinas">
                    <li><img  src="/imagens/icone_disciplina.svg" alt="Turmas"></li>
                </a>
                
            </ul>
        </nav>
    </div>
</section>