<div class="div-container">
    <div class="div-container-logo"> 
        <img class="logo" src="/imagens/logoMarca.jpg">
    </div>
    <div>
        <div class="cabecario">
            <p id="titulo" style="margin-bottom: 0px;"><%- title%></p>
            <a class="calendario-link" href="calendario">
                <i class="fa fa-calendar fa-lg" aria-hidden="true" title="Calendário"></i>
            </a>
        </div>
    </div>
</div>
<section>
    <div class="navegacao">
        <nav>  
            
            <ul class="lista">
                <a href="/">
                    <li title="Display Salas"><img class="calendario" src="/imagens/icone_calendario.svg" alt="Calendario"  title="Display Salas"></li>
                </a>                     
                <a href="professores">
                    <li title="Professores"><img  src="/imagens/icone_professor.svg" alt="Professores" title="Professores"></li>
                </a>
                <a href="areas">
                    <li title="Salas"><img  src="/imagens/icone_sala.svg" alt="Salas" title="Salas"></li>
                </a>
                <a href="turmas">
                    <li title="Turmas"><img  src="/imagens/icone_turma.svg" alt="Turmas" title="Turmas"></li>
                </a>
                <a href="disciplinas">
                    <li title="Disciplinas"><img  src="/imagens/icone_disciplina.svg" alt="Disciplinas" title="Disciplinas"></li>
                </a>
                
            </ul>
        </nav>
    </div>
</section>