<div class="bodyy">
    <div class="modal">
        <span onclick="fechar()" class="fechar">&times;</span>
        <div id="boxCadastro">
            <h1>Adicionar Turma</h1>
            <div class="linha"></div>
            
            <form>
                <div class="boxNomeeSistema" id="boxNomeCompleto">
                    <div>
                        <p>Nome da Turma</p>
                        <input type="text" class="botao" id="NomeSala">      
                    </div>

                </div>

                <div class="boxCredenciais" id="boxAno">
                    
                        <div>
                            <p>Ano</p>
                            <input type="number" class="botao">     
                        </div>
                        
                        <div>
                            <p>Semestre</p>
                            <select class="botao" id="SelectSemestre">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div> 
                </div>       
                <div id="boxCapacidade">
                    <div class="Pilar">
                            <p>Pilar</p>
                            <select class="botao" id="SelectPilar">
                                <option value="0">Selecione</option>
                                <option value="1">Ti</option>
                                <option value="2">Outro</option>
                            </select>
                    </div>
                    <div>
                        <p>Período</p>
                        <select class="botao" id="SelectPilar">
                                <option value="0">Selecione</option>
                                <option value="1">Matutino</option>
                                <option value="2">Vespetino</option>
                        </select>
                    </div>
                         
                </div>       
                <div id="Quant">
                    <p>Quant. Alunos</p>
                    <input type="number" class="botao"> 
                </div>
                <div class="BotaoConcluireCancelar" id="boxConcluir">
                    <div>
                        <input type="submit" id="botaoConcluir" value="Concluir">                      
                    </div>
                    <div>
                        <input type="submit" id="botaoCancelar" value="Cancelar">                      
                    </div>
                </div>
            </form>
        </div>
    </div>    
</div>