<div class="body">
    <div class="modal">
        <span onclick="fechar()" class="fechar">&times;</span>
        <div id="boxCadastro">
            <div class="mensagens-validacao">
                <ul class="mensagem"></ul>
            </div>
            <h1 class="titulo">Adicionar Turma</h1>
            <div class="linha"></div>
            
            <form method="POST" action="/turmas/cadastro">
                <div class="boxNomeeSistema" id="boxNomeCompleto">
                    <div>
                        <label for="nome">Nome da Turma</label>
                        <input name="nome" type="text" class="botao" id="NomeSala">      
                    </div>

                </div>

                <div class="boxCredenciais" id="boxAno">
                    
                        <div>
                            <label for="ano">Ano</label>
                            <input name="ano" type="number" class="botao">     
                        </div>
                        
                        <div>
                            <label for="semestre">Semestre</label>
                            <select name="semestre" class="botao" id="SelectSemestre">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                        <div>
                            <label for="periodo">Período</label>
                            <select name="periodo" class="botao SelectPilar" >
                                    <option value="Integral">Integral</option>
                                    <option value="Matutino">Matutino</option>
                                    <option value="Vespertino">Vespertino</option>
                            </select>
                        </div> 
                </div>       
                <div id="boxCapacidade">
                    <div class="pilar">
                        <label for="pilar">Pilar</label>
                            <select class="botao SelectPilar" id="pilar">
                                <option select>Selecione</option>
                                <%pilares.forEach(pilar =>{%>
                                    <option value=<%=pilar.pilar%> ><%=pilar.pilar%></option>
                                <%})%>  
                            </select>
                    </div> 
                    <div class="divCategoria">
                        <label for="id_pilar">Categoria</label>
                            <select name="id_pilar" class="botao SelectPilar" id="categoria" disabled>
                            </select>
                    </div>          
                </div>       
                <div id="Quant">
                    <label for="qtd_alunos">Quant. Alunos</label>
                    <input name="qtd_alunos" type="number" class="botao"> 
                </div>
                <div class="BotaoConcluireCancelar" id="boxConcluir">
                    <div>
                        <input type="submit" id="botaoConcluir" value="Concluir">                      
                    </div>
                    <div>
                        <input type="button" id="botaoCancelar" value="Cancelar">                      
                    </div>
                </div>
            </form>
        </div>
    </div>    
</div>