<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/turmas.css">
</head>
<body>
    <div class="container">
        <header >
            <%- include('partials/nav') %>
        </header>

        <section>
            <div class="cabecario">
                <p id="titulo">Disciplinas</p>
                <input  placeholder="Pesquisar sala">
            </div>
            <div class="cabecariosecundario">
                <input type="button" value="Adicionar Disciplina" class="btn_adicionar_professor">
            </div>
            <div class="fundo">
                <div class="atributos">
                    <span id="nome"class="nomesatributos">Nome</span>
                    <span id="ano"class="nomesatributos">Turma</span>
                    <span id="area" class="nomesatributos">Área</span>
                </div>
                <div class="turmas">
                    <div class="centralizarnomesturmars">
                        <span id="nometurma"class="respostas">Front-End</span>
                        <span id="anoturma"class="respostas">AutoPlay</span>
                        <span id="areaturma"class="respostas">Ti</span>
                    </div>
                </div>
                <div class="turmas">
                    <div class="centralizarnomesturmars">
                        <span id="nometurma"class="respostas">Front-End</span>
                        <span id="anoturma"class="respostas">AutoPlay</span>
                        <span id="areaturma"class="respostas">Ti</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
   
</body>
</html>