<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <header>
        <%- include('partials/nav') %>
    </header>
    <section class="conteudo">
        <div class="container-conteudo">
            <div class="cabecariosecundario">
                <input type="button" value="Expandir Tela Cheia" class="btn_expandir">
            </div>
            <div class="fundo">
                    
                <div class="turmas">
                    <div id="data"></div>
                    
                    <div class="sala" id="quantidade">
                        <p class="local">Quantitativo</p>
                        <p>Total: 145 Alunos</p>
                    </div>

                    <div class="centralizarnomesturmars">

                        <div class="sala" id="externo">
                            <p class="local">Pátio</p>
                            <p class="auto">Vendedor Técnico (25)<br>Gilmar Matos<br>08h - 17h<br>Em andamento</p>
                        </div>

                        <div class="sala" id="sala1">
                            <p class="local">Sala 1</p>
                            <p>Agente de Televendas (10)<br>Daniele Reis<br>08h - 18h</p>                
                        </div>

                        <div class="sala" id="sala2">
                            <p class="local">Sala 2</p>
                            <p class="encerrado">Operador e Auxiliar de Estoque (13)<br>Vander Miranda<br>08 - 10h<br>Encerrado</p>
                            <p class="encerrado">Operador e Auxiliar de Estoque (15)<br>Vander Miranda<br>10h - 12h<br>Encerrado</p>
                            <p>Operador e Auxiliar de Estoque (15)<br>Vander Miranda<br>13h - 18h</p>    
                        </div>

                        <div class="sala" id="sala3">
                            <p class="local">Sala 3</p>
                            <p>Autocode (18)<br>Wolmar Neto<br>08h - 15h</p>
                            <p class="auto">Product Owner (10)<br>Silvio Ramos<br>16h - 18h<br>Em andamento</p>               
                        </div>

                        <div class="sala" id="sala4">
                            <p class="local">Sala 4</p>               
                        </div>

                        <div class="sala" id="sala5">
                            <p class="local">Sala 5</p>
                            <p class="encerrado">Operador e Auxiliar de Estoque (25)<br>Felipe Araújo<br>08h - 10h<br>Encerrado</p>
                            <p class="auto">Autoplay (14)<br>Daniel Gramlich<br>12h - 18h<br>Em andamento</p>                
                        </div>
                        
                        <div class="sala" id="sala6">
                            <p class="local">Sala 6</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="/js/index.js"></script>
</html>