<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <main class="container">
        <img id="logoMarca" src="/imagens/LogoMarca.png">
        <br>
        <div class="boxInformacoes">
            <h1>Bem vindo</h1>
            <p>Entre com suas credenciais</p>
            <form>
                <div class="boxCredenciais">
                    <img src="/imagens/email_black_24dp.svg">
                    <input type="email" class="botao" placeholder="Digite seu E-mail">
                </div>
                <div class="boxCredenciais">
                    <img src="/imagens/password_black_24dp.svg">
                    <input type="password" class="botao" placeholder="Digite sua senha">
                </div>

                <div class="boxCredenciais">
                    <input type="submit" id="botaoEntrar" value="Entrar">
                </div>
            </form>
        </div>
    </main>
</body>
</html>