<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Turmas - AutoGlass</title>
    <link rel="stylesheet" href="/css/turmas.css">
    <link rel="stylesheet" href="/css/modais/modal_turma.css">
</head>
<body>
    <div class="container">
        <header >
            <%- include('partials/nav') %>
        </header>

        <section>
            <div class="cabecario">
                <p id="titulo">Turmas</p>
                <input  placeholder="Pesquisar sala">
            </div>
            <div class="cabecariosecundario">
                <input type="button" value="Adicionar Turma" class="btn_adicionar_professor" onclick="cadastrar()">
                
                    <input type="button" id="btnExport" value="Exportar Excel" />
            </div>
            <div class="boxTabela">
                <table>
                    <tr>
                        <th>Nome</th>
                        <th>Ano</th>
                        <th>Semestre</th>
                        <th>Pilar</th>
                        <th>Periodo</th>
                        <th>Quant</th>
                    </tr>
                    
                </table>


            </div>
           
                
            <%- include('partials/turma/modalCadastro')%>
        </section>
    </div>
    <script src="/js/modal.js"></script>

</body>
</html>