<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/calendar/calendario.css">
    <link rel="stylesheet" href="/css/calendar/eventoCalendario.css">
</head>
<body>
        <header >
            <%- include('partials/nav') %>
        </header>
        <section class="conteudo">
            <div id="calendar"></div>
        </section>
</body>
<script src="/js/calendario/eventoCalendario.js"></script>
<script src="/js/calendario/calendario.js"></script>
</html>