.conteudo{
    width: calc(100% - 75px);
    height: calc(100vh - 71px);
    display: inline-block;
}
.container-conteudo{
    margin-left: 80px;
}

.cabecariosecundario{
    height: 54px;
    background: #EDEDED;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #cccccc;
}

.conteudo .cabecariosecundario input{
    height: 37px;
    width: 152px;
    background-color: #008000;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.conteudo .cabecariosecundario input:hover{
    background-color: green;
}
.cabecarioatributos{
    background: #F6F6F6;
    width: 100%;
    height: 100vh;
    display: flex;
}
  
#boxTabela{
    background-color: #EDEDED;
    margin-right:50px;
}
table{
    width: 100%;
}
th{
    width: 250px; 
}
td{
    background-color: #FFFFFF;
    padding: 10px;
}
th, td{
    text-align: center;
}
table, th, td{
    border-collapse: separate;
    border-spacing:0 10px;
}

.id{
    display: none;
}


/* confirmação de exclusão */

.delete{
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
    height: 100vh;
    width: 100vw;
}

.container-delete{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:400px;
    height: 120px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.informacao{
    font-size: 24px;
    margin-bottom: 20px;
}

.concluirDeletar{
    background-color: #409ae1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 190px;
    height: 40px;
}

.cancelarDeletar{
    background-color: #ef6950;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 190px;
    height: 40px;
}

/* pesquisa */
.removeProfessor{
    display: none;
}

/* remover / edita */
.remove:visited{
    color:red
}

.edita:visited{
    color:rgb(47, 0, 255)
}





