.conteudo{
    width: calc(100% - 75px);
    height: calc(100vh - 71px);
    display: inline-block;
    background: white;
}
.container-conteudo{
    margin: auto 55px;
}
.cabecariosecundario{
    height: 54px;
    align-items: center;
    display: flex;
    background: #ffffff;
    justify-content: space-between;
}

input:focus{
    outline: none;
    border: 0;
}
.conteudo .cabecariosecundario input{
    height: 37px;
    width: 152px;
    color: black;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.cabecarioatributos{
    width: 100%;
    height: 100vh;
    display: flex;
}
  
.boxTabela{
    height:80vh;
    overflow-y: scroll;
}
table{
    width: 100%;
}
th{
    width: 250px; 
    color: rgb(0 0 0 / 50%);
    font-weight: bolder;
    
}
tr:hover{
    background: #ececec;
}
td{
    color: #000000;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #cccccc;
   
}
th, td{
    text-align: center;
}
table, th, td{
    border-collapse: separate;
    border-spacing:0 0px;
}
#atributos_Professor{
    margin: 0 10px;
    background: #ffffff;
}

.id{
    display: none;
}


/* confirmação de exclusão */

.delete{
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
    height: 100vh;
    width: 100vw;
}

.container-delete{
    display: flex;
    flex-direction: column;

    width:400px;
    height: 330px;
   
    background-color: rgb(255, 255, 255);
}
#bnt_excluir{
    margin: 50px;
    display: flex;
    gap: 10px;
}
.informacao{
    font-size: 24px;
    margin-bottom: 20px;
}
#mensagemdeconfirmacao{
    color: #808080;
}
.concluirDeletar{
    background-color: #20B528;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 190px;
    height: 40px;
}
.concluirDeletar:hover{
    background-color: #55D250;

}
.cancelarDeletar{
    background-color: #FF4238;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 190px;
    height: 40px;
}

.cancelarDeletar:hover{
    background-color: #FF7D69;
}

#alert{
    height: 100px;
    margin: 10px;
    padding: 10px;
}

/* pesquisa */
.removeProfessor{
    display: none;
}

/* remover / edita */
.remove:visited{
    color:red
}

.edita:visited{
    color:rgb(47, 0, 255)
}
.bloco_excel{
    display: flex;
    align-items: center;
    background: #c7c7c7;

    border-radius: 5px;


}
#botaoexcel{
    background:  none;
    color: black;
    margin: 0;
    width: 80px;
    font-weight: bolder;
    
}
#imagemexcel{
    height: 37px;
}
.container-pesquisar{   
    display: flex;
    align-items: center;
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-align: center;
    padding: 0 10px;

}

#container-pesquisa-professor{
    display: flex;
    gap: 10px;
}

#inputprofessor{
    background: #4052ab;
 
    color: white;
    font-size: 16px;
}
#inputprofessor:hover{
    background: #6C7ECC;
}
.fa .fa-search{
    position: relative;
    padding: 10px;
}
.pesquisar-professor{
    padding: 0 5px;
}
.bloco_excel:hover{
    background: #ececec;
}
