.conteudo{
    width: calc(100% - 75px);
    height: calc(100vh - 71px);
    display: inline-block;
}

.container-conteudo{
    margin: auto 55px;
}
/* pesquisa e adiciona */
.container-pesquisar{   
    display: flex;
    align-items: center;
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-align: center;
    padding: 0 10px;

}

#container-pesquisa-sala{
    display: flex;
    gap: 10px;
}

#inputsala{
    background: #4052ab;
 
    color: white;
    font-size: 16px;
}
#inputsala:hover{
    background: #6C7ECC;
    cursor: pointer;
}
.fa .fa-search{
    position: relative;
    padding: 10px;
}
.pesquisar-sala{
    padding: 0 5px;
}

.cabecariosecundario{
    height: 54px;
    align-items: center;
    display: flex;
    background: #ffffff;
    justify-content: space-between;
}

input:focus{
    outline: none;
    border: 0;
}
.conteudo .cabecariosecundario input{
    height: 37px;
    width: 152px;
    color: black;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.cabecarioatributos{
    display: flex;
    overflow-y: scroll;
    flex-flow: row wrap;
    overflow-x: auto;
    background: #F6F6F6;
    width: 1200px;
    height: 520px;  
}

.containerimagens{ 
    position: relative;
    
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 250px;
    height: 137px;
    padding: 10px;
    border-radius: 5px;
    background-image: url(../imagens/sala.jpg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 1) 0px -60px 35px -20px inset;
    
}
.nomesatributos{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

span{
    color: white;
}
.titulo{ 
    font-weight: bold;
    font-size: 32px;
}
.capacidade{
    margin-left: 5px;
    font-weight: lighter;
}
.editaricones{
    display: flex;
    align-items: center
}
.icone{
    position: absolute;
    right: 3px;
    top: 3px;
}
.fa-users{
    color: white;
}

/* remover / edita */
#edita{
    color:rgb(47, 0, 255)
}

.icone a:visited{
    color:red
}