<div class="container">
    <div class="container-logo"> 
        <img class="logo" src="/imagens/logoMarca.jpg">
    </div>
    <div>
        <div class="cabecario">
            <p id="titulo"><%- title%></p>
            <div class="container-pesquisar">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input class="pesquisar-professor" placeholder="Pesquisar">
            </div>
        </div>
    </div>
</div>
<section>
    <div class="navegacao">
        <nav>  
            
            <ul class="lista">
                <a href="/">
                    <li><img class="calendario" src="/imagens/icone_calendario.svg" alt="Calendario"></li>
                </a>                     
                <a href="professor">
                    <li><img  src="/imagens/icone_professor.svg" alt="Professores"></li>
                </a>
                <a href="areas">
                    <li><img  src="/imagens/icone_sala.svg" alt="Salas"></li>
                </a>
                <a href="turmas">
                    <li><img  src="/imagens/icone_turma.svg" alt="Turmas"></li>
                </a>
                <a href="disciplina">
                    <li><img  src="/imagens/icone_disciplina.svg" alt="Turmas"></li>
                </a>
                
            </ul>
        </nav>
    </div>
</section>