<div class="navegacao">
    <nav>   
        <div class="teste"> 
            <img class="logo" src="/imagens/LogoMarca.png">
        </div>
        
        <ul>                     
            <li><a href="/"><img class="calendario" src="/imagens/icone_calendario.svg" alt="Calendario"></a></li>
            <li><a href="professor"><img  src="/imagens/icone_professor.svg" alt="Professores"></a></li>
            <li><a href="areas"><img  src="/imagens/icone_sala.svg" alt="Salas"></a></li>
            <li><a href="turmas"><img  src="/imagens/icone_turma.svg" alt="Turmas"></a></li>
            <li><a href="disciplina"><img  src="/imagens/icone_disciplina.svg" alt="Turmas"></a></li>
        </ul>
    </nav>
</div>