<div class="body">     
            <div class="modal">
                <span onclick="fechar()" class="fechar">&times;</span>
                <div id="boxCadastro">
                    <h1>Adicionar Disciplina</h1>
                    <div class="linha"></div>
                    
                    <form>
                        <div class="boxCredenciais" id="boxNomeCompleto">
                            <p>Nome Completo</p>
                            <input type="text" class="botao">
                        </div>
        
                        <div class="boxCredenciais" id="boxNumeroApelido">
                            <div>
                                <p>Contato</p>
                                <input type="text" class="botao">
                            </div>
                            <div>
                                <p>Apelido</p>
                                <input type="text" class="botao">
                            </div>   
                        </div>
        
                        <div class="boxCredenciais" id="boxCargoArea">
                            <div>
                                <p>Cargo</p>
                                <input type="text" class="botao">
                            </div>
                            <div>
                                <p>Área</p>
                                <input type="text" class="botao">
                            </div>   
                        </div>
        
                        <div class="boxCredenciais" id="boxEmail">
                            <p>E-mail</p>
                            <input type="email" class="botao">
                        </div>
        
                        <div class="boxCredenciais" id="boxConcluir">
                            <input type="submit" id="botaoConcluir" value="Concluir">
                        </div>
                    </form>
                </div>
            </div>    
        </div>