.body{
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
    height: 100vh;
    width: 100vw;
}
.modal{
    position: absolute;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    width: 350px;
    border: solid 1px #b1b1b1;
    padding: 35px;
}
.fechar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: right;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
    font-size: 28px;
    font-weight: bold;
}
.fechar:hover,
.fechar:focus {
    color: #003DA5;
    text-decoration: none;
    cursor: pointer;
}
.modal h1{
    font-size: 30px;
    color: #003DA5;
    display: flex;
    justify-items: start;
    font-weight: bold;
}
#boxCadastro{
    position: relative;
    background: white;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.linha{
    height: 1px;
    width: 100%;
    background-color: #003DA5;
}
form label{
    font-size: 14px;
    color: #242424;
    display: flex;
    justify-items: start;
    margin-left: 2px;
    padding: 2px;
}
.botao{
    background: transparent;
    height: 38px;
    width: 50px;
    border-radius: 5px;
    border: solid 1px #CCCCCC;
    padding: 0px 10px;
}
.botao:focus{
    border: solid 1px #CCCCCC;
    outline: 0;
}
.boxCredenciais {
    display: flex;
    margin: 5px;
    flex-direction: column;
}
#boxNomeCompleto{
    padding-top: 25px;
}
#boxAno{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;  
    gap: 2px;
}
#boxEmail{
    padding-top: 10px;
}
#boxConcluir{
    align-items: center;
    padding-top: 40px;
}
#botaoConcluir{
    background-color: #20B528;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 40px;
}
#botaoConcluir:hover{
    background-color: #55D250;
}
#NomeSala{
    background: transparent;
    height: 39px;
    border-radius: 5px;
    border: solid 1px #CCCCCC;
    padding: 0px 10px;
    width: 315px;
}
#Select{
    width: 122px;
    background: transparent;
    height: 39px;
    border-radius: 5px;
    border: solid 1px #CCCCCC;
    padding: 0px 10px;
}
.boxNomeeSistema{
    display: flex;
    margin: 5px;
    justify-content: space-between;
}
#descrição{
    background: transparent;
    height: 80px;
    width: 315px;
    border-radius: 5px;
    border: solid 1px #CCCCCC;
    padding: 10px 10px;
    font-size: 15px;
}
.SelectPilar{
    width: 127px;
    background: transparent;
    height: 39px;
    border-radius: 5px;
    border: solid 1px #CCCCCC;
    padding: 0px 10px;

}
.BotaoConcluireCancelar{
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
#botaoCancelar{
    background-color: #FF4238;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 40px;

}#botaoCancelar:hover{
    background-color: #FF7D69;
}


#SelectSemestre{
    background: transparent;
    height: 40px;
    width: 50px;
    border-radius: 5px;
    border: solid 1px #CCCCCC;
    padding: 0px 10px;
}
.Pilar{
    display: flex;
    flex-direction: column;
}
#boxCapacidade{
    display: flex;
    margin: 5px;
    justify-content: space-between;

}
#Quant{
    display: flex;
    flex-direction: column;
}

/* mensagem de validação */

.mensagens-validacao{
    position: absolute;
	left: 22%;
    top:190px;
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.removeErro{
	transition: 3s;
	opacity: 0;
}
