.body{
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
    height: 100vh;
    width: 100vw;
}input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
.modal{
    position: absolute;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    height: 450px;
    width: 400px;
    border: solid 1px #b1b1b1;
    padding: 35px;
}
.fechar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: right;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
    font-size: 28px;
    font-weight: bold;
}
.fechar:hover,
.fechar:focus {
    color: #003DA5;
    text-decoration: none;
    cursor: pointer;
}
.modal h1{
    font-size: 30px;
    color: #003DA5;
    display: flex;
    justify-items: start;
    font-weight: bold;
}
#boxCadastro{
    background: white;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.linha{
    height: 1px;
    width: 100%;
    background-color: #003DA5;
}
form p{
    font-size: 14px;
    color: #242424;
    display: flex;
    justify-items: start;
    margin-left: 2px;
    padding: 2px;
}
.botao{
    background: transparent;
    height: 35px;
    border-radius: 5px;
    border: solid 1px #CCCCCC;
    padding: 0px 10px;
}
.botao:focus{
    outline: 0;
}
.boxinputs{
    display: flex;
    flex-direction: column;
}

input:focus{
    outline: none;
    border: 1px solid #cccccc;
}
label{
    justify-content: start;
    display: flex;
}
.boxCredenciais {
    display: flex;
    margin: 5px;
    flex-direction: column;
}
#boxNomeCompleto{
    padding-top: 25px;
}
#boxNumeroApelido, #boxCargoArea{
    padding-top: 10px;
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
}
#boxEmail{
    padding-top: 10px;
}
.boxConcluir{
    align-items: center;
    padding-top: 40px;
}
.botaoConcluir{
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 180px;
    height: 40px;
}
.box_concluirecancelar{
    display: flex;
    gap: 20px;
    

}
#concluir{
    background-color: #20B528;
}
#concluir:hover{
    background: #55D250;
}
#cancelar{
    background-color: #FF4238;
}
#cancelar:hover{
    background: #FF7D69;
}
#inputdescricao{

    background: transparent;
    height: 80px;
    width: 365px;
    border-radius: 5px;
    border: solid 1px #CCCCCC;
    padding: 10px;
    font-size: 15px;
}
#select{
    width: 122px;
    background: transparent;
    height: 39px;
    border-radius: 5px;
    border: solid 1px #CCCCCC;
    padding: 0px 10px;
}
#select:focus{
    outline: none;
    border: 1px solid #cccccc;
}
#cargahoraria{
    width: 60px;
}
/* mensagem de validação */

.mensagens-validacao{
    position: absolute;
	left: 28%;
    top:100px;
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.removeErro{
	transition: 3s;
	opacity: 0;
}
