.conteudo{
    width: calc(100% - 75px);
    height: calc(100vh - 71px);
    display: inline-block;
}

.container-conteudo{
    margin-left: 80px;
}

.cabecariosecundario{
    height: 54px;
    width: 100%;
    background: #EDEDED;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #cccccc;
    
}
.conteudo .cabecariosecundario input{
    height: 37px;
    width: 152px;
    background: #008000;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.cabecarioatributos{
    background: #F6F6F6;
    width: 100%;
    /* height: 520px; */
    display: flex;
    flex-flow: row wrap;
}

.containerimagens{ 
    position: relative;
    margin-top: 20px;
    margin-left: 30px;
    width: 245px;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
    background-image: url(../imagens/sala.jpg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 1) 0px -60px 35px -20px inset;
    
}
.nomesatributos{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

span{
    color: white;
}
.titulo{ 
    font-weight: bold;
    font-size: 32px;
}
.capacidade{
    margin-left: 5px;
    font-weight: lighter;
}
.editaricones{
    display: flex;
    align-items: center
}
.icone{
    position: absolute;
    right: 3px;
    top: 3px;
}
.fa-users{
    color: white;
}

/* remover / edita */
#edita{
    color:rgb(47, 0, 255)
}

.icone a:visited{
    color:red
}