.conteudo{
    width: calc(100% - 75px);
    height: calc(100vh - 71px);
    display: inline-block;
}
.container-conteudo{
    margin-left: 80px;
}

.cabecariosecundario{
    height: 54px;
    width: 100%;
    background: #EDEDED;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #cccccc;
    
}
.conteudo .cabecariosecundario input{
    height: 37px;
    width: 152px;
    background: #008000;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


