<div class="bodyy">
            
    <div class="modal">
        <span onclick="fechar()" class="fechar">&times;</span>
            <div id="boxCadastro">
                <h1>Adicionar Professor</h1>
                <div class="linha"></div>
                    
                    <form>
                        <div class="boxCredenciais" id="boxNomeCompleto">
                            <p>Nome Completo</p>
                            <input type="text" class="botao">
                        </div>
        
                        <div class="boxCredenciais" id="boxPilar">
                            <div class="select">
                                <p>Pilar</p>
                                <select class="botao">
                                    <option value="0">Selecione:</option>
                                    <option value="1">Ti</option>
                                </select>
                            </div>
                            <div>
                                <p>Abreviação</p>
                                <input type="text" class="botao">
                            </div>   
                        </div>
        
                        <div class="boxCredenciais" id="boxCargoDisponibilidade">
                            <div>
                                <p>Disponibilidade</p>
                                <select class="botao">
                                    <option value="0">Selecione:</option>
                                    <option value="1">Disponivel</option>
                                    <option value="2">Atestado</option>
                                    <option value="3">Ferias</option>
                                </select>
                        
                            </div> 
                        </div>
        
                        <div class="boxCredenciais" id="boxEmail">
                            <p>E-mail</p>
                            <input type="email" class="botao">
                        </div>
        
                        <div class="BotaoConcluireCancelar" id="boxConcluir">
                                <div>
                                    <input type="submit" id="botaoConcluir" value="Concluir">                      
                                </div>
                                <div>
                                    <input type="submit" id="botaoCancelar" value="Cancelar">                      
                                </div>
                        </div>
                    </form>
                </div>
     </div>    
 </div>