<div class="delete">
    <div class="container-delete">
        <p class="informacao"></p>
        <div>
            <input class="concluirDeletar" type="button" value="Confirmar">
            <input class="cancelarDeletar" type="button" value="Cancelar">
        </div>
    </div>
</div>